/* Estilizações gerais */

.container {
    margin: 0 auto;
    max-width: 1600px;
}

a {
    text-decoration: none;
}

body {
   background: linear-gradient(#f8e2aabd, #f8e2aabd), url(./imagens/header3.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
}

 /* Header */

 header {
    background: linear-gradient(45deg, #ffe297e3 0, #ffaaf4dd 50%, #73f3f7d3 100%);
    background-size: cover;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5);
 }

 header .container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .logo_pokechu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
 }

 .logo_pokechu a img {
    margin: 0 12px;
 }

 .logo_pokechu a h1 {
    color: rgb(52, 28, 75);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
 }

 .pages {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .pages ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .pages ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .pages ul li a:hover {
    transform: scale(1.1);
    color: rgb(155, 74, 255);
 }
 
 .pages ul li a p {
    font-family: 'Poppins', sans-serif;
    color: rgb(52, 28, 75);
    font-size: 12px;
    margin-top: 10px;
    font-weight: 600;
 }

.pages ul li a p:hover {
    color: rgb(155, 74, 255);
 }

 .register {
    width: 12%;
 }

 .register a {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 1s;
 }

 .register a:hover {
    transform: scale(1.1);
 }

 .register a svg {
    border: 1px solid rgb(52, 28, 75);
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;
 }

 .register a p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgb(52, 28, 75);
 }

 /* MAIN POST */

 main .container {
   background-color: #edebebae;
   border-radius: 8px;
   margin-top: 10px;
   width: 70%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   overflow: hidden;
 }

 .container .main-post {
   width: 100%;
   height: 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .container .main-post a {
   height: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 }

 .container .main-post a h2 {
   color: rgb(52, 28, 75);
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 20px;
 }

 .container .main-post a h2:hover {
   color: rgb(155, 74, 255);
 }

 .container .main-post a button {
   width: 180px;
   height: 40px;
   border: 1px solid #f6ac48;
   border-radius: 10px;
   cursor: pointer;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   color: rgb(52, 28, 75);
   background-color: #fcbb66;
 }

 .container .main-post a button:hover {
   background: linear-gradient(45deg, #ffe297 0, #ffaaf4 50%, #73f3f7 100%);
 }
 
 .container .popular-pokemon {
   height: 20%;
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
 }

 .container .popular-pokemon ul {
   width: 70%;
   height: 80%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

.container .popular-pokemon h2 {
   color: rgb(52, 28, 75);
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 30px;
 }

 .container .popular-pokemon ul li {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   cursor: pointer;
 }


 .container .popular-pokemon ul li:hover {
   transform: scale(1.1);
   opacity: 0.8;
   color: rgb(155, 74, 255);
 }

 .container .popular-pokemon ul li img {
   border-radius: 50%;
 }

 #mimikyu {
   background-color: #fedf8c;
 }

 #gengar {
   background-color: #b270f0;
 }

 #marshadow {
   background-color: #fa8e9c;
 }

 #pumpkaboo {
   background-color: #ffb863;
 }

 #mismagius {
   background-color: #e28ae8;
 }

 .container .popular-pokemon ul li p {
   color: rgb(52, 28, 75);
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 400;
 }

 .container .popular-pokemon ul li p:hover {
   color:rgb(155, 74, 255);
   text-decoration: underline;
 }

 /* Footer */

 footer {
   height: 90px;
   background-color: #efb470;
   border-radius: 10px 0;
   display: flex;
   align-items: center;
 }

 footer .container {
   width: 80%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 footer .container .contact {
   width: 9%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

 footer .container .contact h2 {
   color: rgb(52, 28, 75);
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 600;
 }

 footer .container .social-media {
   width: 10%;
 }

 footer .container .social-media ul {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 footer .container .social-media ul li:hover {
   transform: scale(1.1);
 }